* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    color: #67727A;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    color: #F5F5F5;
    background-color: #6991AC;
    border-color: #67727A;
}

button:hover {
    background-color: #D75C37;
}

#header {
    font-family: 'Oswald', sans-serif;
    background-color: #C3D7DF;
    color: #D75C37;
    width: 100%;
    margin: 0;
    padding: 100px;
    text-align: center;
}
#header H1 {
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 700;
}
#header H2 {
    font-size: 2.5em;
    font-weight: 400;
}
#header H3 {
    font-weight: 300;
    font-size: 1.7em;
}

#content {
    padding-top: 50px;
    position: relative;
    overflow: hidden;
}
.selected {
    border: 3px solid green;
}

.half {
    width: 40%;
    float: left;
    margin: 5%;
    padding: 10px;
    height: 500px;
}
.left {
    border-right: 1px solid #6991AC;
}
.right{ 
    border-left: 1px solid #6991AC;
}
#wrapper {
    width:960px;
    margin:0 auto;
    overflow: hidden
}
.scrollable {
    max-height: 400px;
    overflow-y: auto;
    height: 100%;
}
.scrollable UL {
    list-style: none;
}
.clear {
    clear: both;
}

.application {
    background-color: #C3D7DF;
    margin: 5px;
    padding: 5px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tag {
    font-size: 0.7em;
    color: white;
    background: gray;
    margin-left: 10px;
    padding: 2px 4px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    cursor: pointer;
}
.tag:hover {
    background: #6991AC;
}

.highlighted {
    font-weight: bold;
    background-color: red;
    cursor: default;
}

#modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(143,27,15,0.8);
    transition: all 0.3s;
}

#dialog-content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
}

.application {
    position: relative;
}
.application .description {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 500ms ease;
    -moz-transition: max-height 500ms ease;
    -ms-transition: max-height 500ms ease;
    -o-transition: max-height 500ms ease;
    transition: max-height 500ms ease;
}
.application .appAddBtn {
    position: absolute;
    top: 5px;
    right: 5px;
}
.shown {
    max-height: 500px !important;
}
#generate-btn {
    margin-top: 0;
}
#modal-holder {
    position: absolute;
}